/* 'Passion One' - 'Sriracha' */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    color: white;
    margin: 0px;
}

header > p{
    padding-bottom: 50px;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

/*============= main =================*/

section{
    font-family: 'Sriracha', cursive;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.0vw;
}

section.img{
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.555);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    color: white;
}

section.img > p{
    background-color: rgba(0, 0, 0, 0.150);
    display: inline-block;
    padding: 10px;
}

section.joaninha{
    background-image: url(../imagens/background001.jpg);
}

section.papel{
    background-image: url(../imagens/background002.jpg);
}

footer{
    background-color: black;
    margin: 0px;
}

footer > p{
    color: white;
    text-align: center;
    padding: 20px;
}